/* Your Website Styles*/

body {
  background: #D1DBBD;
  margin-top: 20px;

}

h1 {
  font-family: 'Orbitron', sans-serif;
  color: #193441;
  border-bottom: 5px solid #193441;
}

h4 {
  font-family: 'Orbitron', sans-serif;
  color: #3E606F;
  text-align: right;
}



/* Gallery Stying */
section img {
  margin: 0;
  
  float: left;
}

#beverly {
  width: 45%;
  border-radius: 15%;
  border: 5px solid #3E606F;
}

#pioneer {
  width: 45%;
  border-radius: 15%;
  border: 5px solid #193441;
}

#landscape {
  width: 45%;
  border-radius: 15%;
  border: 5px solid #193441;
}

#smith {
  width: 45%;
  border-radius: 15%;
  border: 5px solid #3E606F;
}

#bridge {
  width: 45%;
  border-radius: 15%;
  border: 5px solid #3E606F;
}

#safeco {
  width: 45%;
  border-radius: 15%;
  border: 5px solid #193441;
}



/* Show Grid */
/*.showgrid {
  background: url("../img/grid-bg.png") repeat-y;
}*/
